common python/   
dsa/                            
Numpy/                 
python.ico     
PythonNotes.lnk*                  
ssh_try_1.pub   
week_3/
day_01/           
fastapi/                       
os module/            
python.png     
PythonNotesForProfessionals.pdf   
threading/      
week_4/
day_02/                                      
pandas/                
python_1/      
regex/                            
week_1/         
yt_downloder_folder/
django_demo/      
main_sql_using_pyscopg.py.txt  
Python file (1).pdf   
python_IDLE/   
ssh_try_1                         
week_2/